.heading
{
    color:blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
form
{
    margin-left: 30%;
}
.addSchedule
{
    margin-left: 18%;
}
.input-field
{
    margin: 10px;
}
.cus
{
    margin-left: 30px;
}
.cus h2
{
    color: blue;
}
.cus p
{
    margin-left: 15%;
}
.cus .input-field
{
    margin: 2%;
    margin-left: 16%;
}